/* define variables */
:root {
    --light-blue: #39a6b2;
    --dark-gray: #565656;
    --light-gray: #d3d3d3;
    --navy-blue: #202a44;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body stylistic elements */
body {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--navy-blue);
    background-color: var(--light-gray);
}

/* header stylistic elements */
header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* padding and margins will be added first in DevTools to examine effects */
    background-color: var(--dark-gray);
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9999;
}

header h1 {
    font-weight: bold;
    /* font-size determined in Dev Tools */
    color: var(--light-blue);
    margin: 0;
}

header a {
    text-decoration: none;
    color: var(--light-blue);
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a{
    /* determine padding in Dev Tools */
    font-weight: lighter;
    /* determine font-size in Dev Tools */
}

/* header nav ul li a:hover {
    /* add hover elements in after
} */

/* section {
    /* determine padding in Dev Tools
} */

/* hero styling with background image */
.hero {
    background-image: url(../images/foto.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 80%;
    /* set as flex element */
    display: flex;
    justify-content: right;
    flex-wrap: wrap;
    align-items: center;
}

/* styling of subtitle in the hero section */
.hero-subtitle {
    text-align: right;
}

.section-flex {
    display: flex;
    /* reeavalute the justify-content after having setup more of the css */
    justify-content: space-around;
    flex-wrap: wrap;
}

.section-title {
    /* determine font-size in Dev Tools */
    color: var(--navy-blue);
    width: 25%; 
    flex: 1;
    /* determine padding, border, and margin in Dev Tools */
}

.non-title {
    max-width: 75%;
    flex: 1;
    /* add padding and border */
}

/* have to remember to constrain the size of the image box */
.large-image img {
    max-width: 100%;
}

/* work-image parent defined size */

.double-image {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* define padding and margin in Dev Tools */
}

.work-image img {
    flex: 1 50%;
    max-width: 100%;
    /* defined padding and border in Dev Tools */
}
